
<div class="container my-5">
    <div class="breadcrumb-container">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="../reservations/travel-finder.hbs">Descartar y reserva</a></li>
            <li class="breadcrumb-item active">Tu Mr Weekend</a></li>
          </ol>
        </nav>
      </div>
    <h2 class="text-center pb-5 pt-5 text-primary">¡Lo lograste!! ¡Tu Mr Weekend te espera!</h2>

    <h3>DATOS DE LA RESERVA</h3>
     <div class="separator-card mb-5"></div>
        
        
          <div class="row">
            
            <div class="col-md-3 mb-4">
              <label class="form-label">Viajeros</label><i class="fa fa-users fa-fw mx-3"></i>
              <input type="number" class="form-control" value="{{booking.travellers.length}}" readonly>
              </div>

            <div class="col-md-3 mb-4">
              <label class="form-label">Date</label><i class="fa fa-calendar-o fa-fw mx-3"></i> 
              <input type="text" name="date" class="form-control" value="{{booking.date}}" readonly>
            </div>

            <div class="col-md-3 mb-4">
              <label class="form-label">Aeropuerto</label><i class="fa fa-plane fa-lg mx-3"></i>
              <input type="text" name="airport" class="form-control" value="{{ booking.airport }}" readonly>
            </div>

        <div class="col-md-3 mb-4">
              <label class="form-label">Precio por persona</label><i class="fa fa-money fa-lg mx-3"></i>
              <input type="text" name="price" class="form-control" value="{{ travel.price }}€" readonly>
            </div>
          </div>


  <div class="row">
    <div class="col-12">
      <div class="card-city m-2 w-100 h-300 mt-5">
        <div class="g-0">
          <div class="row g-0">

            <div class="col-7 travel-card-image center w-80" style="background-image: url({{travel.image}})">
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title text-center fs-4 mt-0">{{travel.title}}</h5> 
               <div class="separator-card mb-4"></div>
               <ul class="fs-6">
                  <li><i class="fa fa-exchange fa-ls mx-2"></i>Viaje en: {{travel.tripMode}}</li>
                  <li><i class="fa fa-dashcube fa-ls mx-2"></i>{{travel.duration}} días</li>
                  <li><i class="fa fa-eye fa-ls mx-2"></i>{{#setKeyWords travel.keyWords}}{{/setKeyWords}}</li>
                </ul>
                <p class="card-text text-start">{{travel.description}}</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-12">
      <div class="card-hotel ml-1 w-100 mb-5">
        <div class="g-0">
          <div class="row g-0">

             <div class="col-7 travel-card-hotel-image center" style="background-image: url({{travel.hotel.image}})">
            </div>
            <div class="col-5">
              <div class="card-body">
                  <h5 class="card-title mt-0 text-wrap">{{travel.hotel.name}}</h5>
                <p class="card-text text-start">{{travel.hotel.description}}</p>              
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<a href="/" class="btn btn-primary mb-4 mt-4 d-grid gap-2 col-2 mx-auto">Finalizar</a>
</div>