<div class="container">
	<section>
		<div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item"><a href="../reservations/travel-finder.hbs">Descartar</a></li>
					<li class="breadcrumb-item active" aria-current="page">Data</li>
				</ol>
			</nav>
		</div>
		<div>

			<h1>DATOS DE LA RESERVA</h1>
			<div>
				<div class="col-md-4">
					<label for="validationServer01" class="form-label">Viajeros</label>
					<select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
						<option selected value="0">Seleccionar numero de huespedes</option>
						{{#for 1 11 1}}
							<option value="{{this}}">{{this}}</option>
						{{/for}}
					</select>
					<div id="validationServer04Feedback" class="invalid-feedback">
						Please select a valid state.
					</div>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
				<form class="row g m">
					{{!-- Here is missing the loop to render the traveller form for each --}}
					<div>

						<div class="col-md-4">
							<label for="validationServer02" class="form-label">Nombre</label>
							<input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="validationServer02" value="" required>
							<div class="valid-feedback">
								Looks good!
							</div>
						</div>
						<div class="col-md-4">
							<label for="validationServer02" class="form-label">Primer Apellido</label>
							<input type="text" class="form-control {{#if errors.surname}}is-invalid{{/if}}" id="validationServer02" value="" required>
							<div class="valid-feedback">
								Looks good!
							</div>
						</div>
						<div class="col-md-4">
							<label for="validationServer02" class="form-label">Segundo Apellido</label>
							<input type="text" class="form-control {{#if errors.secondSurname}}is-invalid{{/if}}" id="validationServer02" value="">
						</div>
						
						<div class="col-md-3">
							<label for="validationServer04" class="form-label">Fecha de nacimiento</label>
							<input type="date" class="form-control {{#if errors.birthday}}is-invalid{{/if}}" id="start" name="trip-start"
							value=""
							min="1900-01-01" max="2080-12-31">
							<div id="validationServer04Feedback" class="invalid-feedback">
								Please select a valid state.
							</div>
						</div>
						<div class="col-md-3">
							<label for="validationServer05" class="form-label">Nacionalidad</label>
							<select class="form-select {{#if errors.nacionality}}is-invalid{{/if}}" id="validationServer04" aria-describedby="validationServer04Feedback" required>
								<option selected disabled value="">Seleccionar nacionalidad</option>
								{{#each countries as |country|}}
								<option value="{{country.country}}">{{country.country}}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-md-3">
							<label for="validationServer05" class="form-label">Documento</label>
							<select class="form-select {{#if errors.documentType}}is-invalid{{/if}}" id="validationServer04" aria-describedby="validationServer04Feedback" required>
								<option selected disabled value="">Seleccionar tipo de documento</option>
								{{#each documentTypes as |documentType|}}
								<option value="{{documentType}}">{{documentType}}</option>
								{{/each}}
							</select>
						</div>
							<div class="col-md-3">
							<label for="validationServer04" class="form-label">Numero de documento</label>
							<input type="text" class="form-control {{#if errors.documentNumber}}is-invalid{{/if}}" id="document-number" name="document-number"
							value=""
							min="1900-01-01" max="2080-12-31">
							<div id="validationServer04Feedback" class="invalid-feedback">
								Please select a valid state.
							</div>
						</div>
						<div class="col-12">
							<div class="form-check">
								<input class="form-check-input {{#if errors.termsAndConditionsCheck}}is-invalid{{/if}}" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
								<label class="form-check-label" for="invalidCheck3">
									Agree to terms and conditions
								</label>
								<div id="invalidCheck3Feedback" class="invalid-feedback">
									You must agree before submitting.
								</div>
							</div>
						</div>
						<div class="col-12">
							<button class="btn btn-primary" type="submit">Submit form</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>