<div class="row justify-content-center">
  <div class="col-12 col-sm-4">
    <h4>Crear Viaje</h4>
    <form action="/travels" method="post" enctype="multipart/form-data">

      <div class="form-check mb-3">
        <label for="exampleInputEmail1" class="form-check-label">Destino</label><br>
        <input type="radio" class="form-check-input {{#if errors.destination}}is-invalid{{/if}}" name="destination" value="national">
        <label for="html">Nacionales</label><br>
        <input type="radio" class="form-check-input {{#if errors.destination}}is-invalid{{/if}}" name="destination" value="europe">
        <label for="css">Por Europa</label><br>
        
        <div class="invalid-feedback">{{ errors.destination }}</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Título</label>
        <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" name="title" value="{{ travel.title }}" placeholder="..." />
        <div class="invalid-feedback">{{ errors.title }}</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Imagen</label>
        <input type="file" class="form-control {{#if errors.image}}is-invalid{{/if}}" name="image" value="{{ travel.image }}" placeholder="..." />
        <div class="invalid-feedback">{{ errors.image }}</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Precio</label>
        <input type="number" class="form-control {{#if errors.price}}is-invalid{{/if}}" name="price" value="{{ travel.price }}" placeholder="" />
        <div class="invalid-feedback">{{ errors.price }}</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Ciudad</label>
        <input type="text" class="form-control {{#if errors.location}}is-invalid{{/if}}" name="location" value="{{ travel.location }}" placeholder="..." />
        <div class="invalid-feedback">{{ errors.location }}</div>
      </div>

      <div class="form-check mb-3">
        <label for="exampleInputEmail1" class="form-check-label">Modo de transporte</label><br>
        <input type="radio" class="form-check-input {{#if errors.tripMode}}is-invalid{{/if}}" name="tripMode" value="car">
        <label for="html">Coche</label><br>
        <input type="radio" class="form-check-input {{#if errors.tripMode}}is-invalid{{/if}}" name="tripMode" value="plane">
        <label for="css">Avión</label><br>
        
        <div class="invalid-feedback">{{ errors.tripMode }}</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descripción</label>
        <input type="textarea" class="form-control {{#if errors.description}}is-invalid{{/if}}" name="description" value="{{ travel.description }}" placeholder="..." />
        <div class="invalid-feedback">{{ errors.description }}</div>
      </div>

      <div class="mb-3">
        <label for="duration" class="form-label">Duración</label>
        <input type="number" class="form-control {{#if errors.duration}}is-invalid{{/if}}" name="duration" value="{{ travel.duration}}" disabled="" />
        <div class="invalid-feedback">{{ errors.duration }}</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-check-label">Key Words</label><br>
          <input type="checkbox" class="form-check-input {{#if errors.keyWords}}is-invalid{{/if}}" name="keyWords" value="forest">
          <label for="forest">Bosque</label><br>

          <input type="checkbox" class="form-check-input {{#if errors.keyWords}}is-invalid{{/if}}" name="keyWords" value="culture">
          <label for="culture">Cultural</label><br>

          <input type="checkbox" class="form-check-input {{#if errors.keyWords}}is-invalid{{/if}}" name="keyWords" value="guide">
          <label for="guide">Guía</label><br>

          <input type="checkbox" class="form-check-input {{#if errors.keyWords}}is-invalid{{/if}}" name="keyWords" value="food">
          <label for="food">Gastronómico</label><br>

          <input type="checkbox" class="form-check-input {{#if errors.keyWords}}is-invalid{{/if}}" name="keyWords" value="sea">
          <label for="sea">Playa</label><br>

          <input type="checkbox" class="form-check-input {{#if errors.keyWords}}is-invalid{{/if}}" name="keyWords" value="romantic">
          <label for="romantic">Romántico</label><br>
        
        <div class="invalid-feedback">{{ errors.keyWords }}</div>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
        <label class="form-check-label" for="validationFormCheck1">Clícame</label>
        <div class="invalid-feedback">Debes hacer click</div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary text-uppercase">Crear</button>
      </div>
      
    </form>
  </div>
</div>