<div class="container my-5">  
  <div class="row">
    <div class="col-12">
      <div class="card-city m-2 w-100 h-300 mt-5">
        <div class="g-0">
          <div class="row g-0">

            <div class="col-7 travel-card-image center w-80" style="background-image: url({{travel.image}})">
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title text-center fs-4">{{travel.title}}</h5> 
               <div class="separator-card mb-4"></div>
               <ul class="fs-6">
                  <li><i class="fa fa-exchange fa-ls mx-2"></i>Viaje en: {{travel.tripMode}}</li>
                  <li><i class="fa fa-dashcube fa-ls mx-2"></i>{{travel.duration}} días</li>
                  <li><i class="fa fa-eye fa-ls mx-2"></i>{{#setKeyWords travel.keyWords}}{{/setKeyWords}}</li>
                </ul>
                <p class="card-text text-start">{{travel.description}}</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-hotel ml-1 w-100 mb-5">
        <div class="g-0">
          <div class="row g-0">

             <div class="col-7 travel-card-hotel-image center" style="background-image: url({{travel.hotel.image}})">
            </div>
            <div class="col-5">
              <div class="card-body">
                  <h5 class="card-title mt-0 text-wrap">{{travel.hotel.name}}</h5>
                <p class="card-text text-start">{{travel.hotel.description}}</p>              
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/travels/list" class="btn btn-secondary btn-sm text-uppercase">Volver a la lista</a>
</div>       