<div class="container my-5">
  <div class="row">
    {{#each travels as |travel|}}
    <div class="col-6">
      <div class="card m-2">
        <div class="g-0">
          <div class="row g-0">

            <div class="col-7 travel-card-image" style="background-image: url({{travel.image}})">
            </div>

            <div class="col-5">
              <div class="card-body">
                <h6 class="card-title">{{travel.title}}</h6>
                <p class="card-text">{{travel.description}}</p>
                <ul>
                  <li>Viaje en: {{travel.tripMode}}</li>
                  <li>{{travel.duration}} días</li>
                  <li>{{#setKeyWords travel.keyWords}}{{/setKeyWords}}</li>
                </ul>
                <h6 class="card-title">{{travel.price}}€</h6>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="/travels/{{travel.id}}/detail" class="btn btn-secondary btn-sm text-uppercase">Ver más</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>