<div class="container my-5">
  <div class="row">
    {{#each travels as |travel|}}
    <div class="col-6">
      <div class="card m-2">
        <div class="g-0">
          <div class="row g-0">

            <div class="col-7 travel-card-image" style="background-image: url({{travel.image}})">
            </div>

            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title text-center fs-5 mt-0">{{travel.title}}</h5>
                <div class="separator-card"></div> 

                <div class="row">
                  <div class="included">
                  <li><i class="fa fa-exchange fa-ls mx-2"></i>Viaje en: {{travel.tripMode}}</li>
                  <li><i class="fa fa-dashcube fa-ls mx-2"></i>{{travel.duration}} días</li>
                  <li><i class="fa fa-eye fa-ls mx-2"></i>{{#setKeyWords travel.keyWords}}{{/setKeyWords}}</li>
                </div>
                </div>
                
                  <h6 class="card-title mt-3"><i class="fa fa-bed fa-lg mr-2"></i>{{travel.hotel.name}}</h6>
                <div class="travel-price fs-6 padding-right: 20px">Precio: {{travel.price}}€</div>
                <a href="/travels/{{travel.id}}/detail" class="btn btn-secondary btn-sm gap-2 text-align-center position-absolute bottom-0 end-0">Ver más</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>